<ion-header>

    <ion-navbar>
        <ion-title>Thông báo đóng tiền học phí</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div *ngIf="role == 'phu-huynh'" class="receive">
        <div class="avatar">
            <img src="{{img_sender}}">
        </div>
        <div class="contents-inbox">
            <div class="content-detail inbox">
                <span>{{comments.bv_noidung}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="role != 'phu-huynh'" class="send">
        <div class="contents-inbox-send">
            <div class="content-detail-send inbox">
                <span>{{comments.bv_noidung}}</span>
            </div>
        </div>
    </div>

    <div *ngFor="let p of comments.content_comment">
        <div *ngIf="p.cmt_userid_nhan == id_nguoidung" class="receive">
            <div class="avatar">
                <img src="{{img_sender}}">
            </div>
            <div class="contents-inbox">
                <div class="content-detail inbox">
                    <span>
                        {{p.cmt_noidung}}
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="p.cmt_userid == id_nguoidung" class="send">
            <div class="contents-inbox-send">
                <div class="content-detail-send inbox">
                    <span>
                        {{p.cmt_noidung}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="send">
        <div class="contents-inbox-send">
            <div class="content-detail-send" *ngFor="let p of contents" [ngClass]="{ 'inbox' : contents.length == 1}">
                <span>{{p}}</span>
            </div>
        </div>
    </div> -->
</ion-content>
<ion-footer>
    <ion-row>
        <ion-col col-10>
            <ion-input type="text" placeholder="Nhập nội dung" [(ngModel)]="contentSend"></ion-input>
        </ion-col>
        <ion-col col-2>
            <button ion-button icon-only outline (click)="send()">
                <ion-icon name="ios-send"></ion-icon>
            </button>
        </ion-col>
    </ion-row>



</ion-footer>