page-recover-change-password {
    .content{
        .passwordIcon{
            font-size:2rem !important;
            position: relative !important;
            top: 22px !important;
            margin: 0 auto !important;
         }
        p{
            margin: 0;
            padding: 10px;
            color: #5f5f5f;
        }

        .pass-input{
            .input{
                background: #fff;
                .text-input{
                    margin: 0;
                    padding: 10px;
                    width: 100%;
                }
            }
        }
        .btn-continue{
            .button{
                display: block;
                width: 45%;
                margin: auto;
                border-radius: 30px;
                margin-top: 10px;
                height: 35px;
            }
        }
    }

    .footer{
        background: #16367b;
        text-align: center;
        p{
            color: #e8e8e8;
            margin: 0;
            padding: 5px 10px;
        }
    }
}
