page-change-password {
    .content{
        
        div{
            label{
                color: #16367b;
                font-size: 16px;
                font-weight: 500;
            }
            .input{
                background: #fff;
                border-radius: 5px;
                margin-bottom: 10px;
                margin-top: 5px;
                .text-input-ios {
                    margin: 0;
                    padding: 10px;
                    width: 100%;
                }
            }
        }
        .btn{
            padding: 0;
            margin-bottom: 10px;
            .col{
                padding: 0 5px;
                .button{
                    margin: 0;
                    border-radius: 5px;
                }
                .btn-change-pass{
                    background: #41734c;
                }
                .btn-logout{
                    background: #a23c3c;
                }
            }

            .col:first-child{
                padding-left: 0;
            }
            .col:last-child{
                padding-right: 0;
            }
        }
    }
    .footer{
        background: #16367b;
        text-align: center;
        p{
            color: #e8e8e8;
            margin: 0;
            padding: 5px 10px;
        }
    }
}
