.header{
    .toolbar{
        .toolbar-background{
            background: #16367b;
        }
        .back-button{
            color: #e8e8e8;
        }
        .toolbar-content{
            .toolbar-title{
                color: #e8e8e8;
            }
        }
    }
}

.content{
    .scroll-content{
        background: #e8e8e8;
    }
}